@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

#content {
  min-height: 80%;
  padding: 12px;
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  bottom: 0;
}

video {
  object-fit: cover;
}
